{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    <meta charset="utf-8">
    <title>chat</title>
</head>
<body>

        <div class="layout">
            <nav class="sidebar">
                <div class="sidebar-inner">
                    <div class="bar-1">
                        <ul class="menu">
                            <div class="infor">👤 Jeferson carlos Santana</div>
                            <div class="infor">⭐Pontos acumulados: <span class="text-success">1.075.352</span></div>
                            <div class="infor">⭐Pontos em andamento: <span class="text-info">253</span></div>
                            <div class="infor">⭐Pontos que faltam: <span class="text-info">768</span></div>
                            <div class="infor">⭐Pontos feitos: <span class="text-info">422</span></div>
                            <li><a href="/">Dashboard</a></li>                          
                            <li><a href="/dictionary/">Dicionário</a></li>                   
                        </ul>
                    </div>
                    <input type="text" class="lesson-search" placeholder="🔍 Buscar lição">
                    <div class="bar-2">                        
                        <ul class="menu lessons">                            
                            <li><a href="#">📋 Lesson 1</a></li>
                            <li><a href="#">📋 Lesson 2</a></li>
                            <li><a href="#">📋 Lesson 3</a></li>                 
                        </ul>
                    </div>
                    <div class="logout">
                        <li><a href="/">Sair</a></li>
                    </div>
                </div>
            </nav>

            <main class="content">
                <div class="content-inner">
                    <div class="tittle-cont">
                        <div class="aula">                    
                            <button class="menu-toggle" aria-label="Abrir menu">
                                <img src="{% static 'chat/img/menu.png' %}" alt="Menu">
                            </button> 
                            chat
                        </div>                        
                    </div>

                    





<div class="chat-area">
  {% for line in lines %}
    <div class="chat-message {{ line.role }}"
         data-id="{{ line.id }}"
         style="display:none;">
      {{ line.expected_en }}
    </div>
  {% endfor %}
</div>

<button id="btn-start">▶️ Iniciar lição</button>
<button id="btn-mic" disabled>🎤 Falar</button>


                  
                    <div class="footer-cont">
                        {% comment %} <button class="theme-toggle" aria-label="Trocar tema">🌙 </button> {% endcomment %}
                         <i><strong>© 2026 - JPM-development - All rights reserved - Engineering & Technology</strong><i>                        
                    </div>
                    
                </div>
            </main>
        </div>
        
    <script src="{% static 'chat/js/script.js' %}"></script>
      <script src="{% static 'chat/js/chat.js' %}"></script>
    


</body>
</html> 

