{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="theme-color" content="#000000">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta charset="utf-8">
        <title>chat</title>
        <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
        <link rel="stylesheet" href="{% static 'chat/css/btn.css' %}">
        <link rel="stylesheet" href="{% static 'chat/css/others.css' %}">    
    </head>
    <body>
        <div class="layout">
            <nav class="sidebar">
                <div class="sidebar-inner">
                    <div class="sidebar-close">
                    ✕
                    </div>
                    <div class="bar-1">          
                        <div class="infor user-session"><img src="{% static 'chat/img/user-y.png' %}" alt="Menu" width="15"> Olá, {{ request.user.username }}!</div>                    
                        <ul class="menu">  
                            {% if request.user.is_superuser %}
                            <li><a href="/admin/"><img src="{% static 'chat/img/lock.png' %}" alt="Menu" width="15"> Administração</a></li>
                            {% endif %}          
                            <li><a href="/chat/"><img src="{% static 'chat/img/chat.png' %}" alt="Menu" width="15"> Chat</a></li>   
                            {% if request.user.is_superuser %}                        
                            <li><a href="/dictionary/"><img src="{% static 'chat/img/book.png' %}" alt="Menu" width="15"> Dicionário</a></li> 
                            {% endif %}                  
                        </ul>
                    </div>                        
                    <div class="bar-2">                        
                    <!-- CONTEUDO DAS LICOES -->
                    </div>                   
                </div>
            </nav>

            <main class="content">
                <div class="content-inner">
                    <div class="tittle-cont">
                        <button class="menu-toggle" aria-label="Abrir menu">
                        <img src="{% static 'chat/img/sidebar.png' %}" alt="Menu">
                        </button> 
                        <span>Dashboard</span>  
                        
                        <div class="credit-notification">
                            <button class="credit-btn" aria-label="Créditos">
                                <img src="{% static 'chat/img/coin.png' %}" alt="Créditos" width="35">
                                <span class="credit-badge" id="credit-badge">{{ credit_display }}</span>
                            </button>
                        </div>

                        <form method="post" action="/logout/" class="logout-form">
                        {% csrf_token %}
                        <button class="btn-sair" type="submit" aria-label="Sair">
                            <img src="{% static 'chat/img/log-out.png' %}" alt="Sair" width="41">
                        </button>
                        </form>
                    </div>
                    <div class="content-cont">

                        <div class="cards-grid">

                            <div class="card">
                                <div class="card-header">
                                    <h3>Frases em andamento</h3>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Consulte aqui as frases que estão atualmente em processamento ou em andamento.                                        
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'phrase_progress' %}" class="btn-madeira-velha">Acessar</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3>Frases concluídas</h3>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Consulte aqui as frases que já foram concluídas.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'phrase_completed' %}" class="btn-madeira-velha">Acessar</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3>Status</h3>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Ideal para dashboard, progresso, avisos ou atalhos.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn-madeira-velha">Ver</button>
                                </div>
                            </div>                  
                            
                        </div>
                  
                    </div>
                    
                    <div class="footer-cont">
                         <i><strong>© 2026 - JPM-development - All rights reserved - Engineering & Technology</strong><i>                        
                    </div>                  
                </div>
            </main>
        </div>
        <!-- MODAL CREDITOS -->
        <div id="credit-modal" class="nivel-modal" style="display:none;">
            <div class="nivel-box">
                <button class="nivel-close" id="credit-close" aria-label="Fechar">×</button>

                <h3>Seus Créditos</h3>

                <p>Créditos ganhos:<span class="text-warning"> {{ request.user.nivel.earned_credit }}</span></p>
                <p>Créditos utilizados:<span class="text-warning"> {{ request.user.nivel.spent_credit }}</span></p>
                <p>Disponíveis:<span class="text-warning"> {{ credit_display }}</span></p>

                <p>Cada alteração manual de percentual na <span class="text-warning">Frases em andamento</span> consome 1 crédito.</p>
                <p>Cada alteração manual de percentual na <span class="text-warning">Frases concluídas</span> consome 1 crédito.</p>
                <p>     
                Você ganha 1 crédito a cada <span class="text-warning">5.000</span> pontos acumulados.
                </p>
            </div>
        </div>
        <script src="{% static 'chat/js/script.js' %}"></script>
        <script src="{% static 'chat/js/chat.js' %}"></script>
    </body>
</html>
