{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>
<body>

        <div class="layout">
            <nav class="sidebar">
                <div class="sidebar-inner">
                    <div class="bar-1">
                        <ul class="menu">
                            <div class="infor">👤 Jeferson carlos Santana</div>
                            <div class="infor">⭐Pontos acumulados: <span class="text-success">1.075.352</span></div>
                            <div class="infor">⭐Pontos em andamento: <span class="text-info">253</span></div>
                            <div class="infor">⭐Pontos que faltam: <span class="text-info">768</span></div>
                            <div class="infor">⭐Pontos feitos: <span class="text-info">422</span></div>
                            <li><a href="/chat/">Chat</a></li>                            
                            <li><a href="/dictionary/">Dicionário</a></li>                   
                        </ul>
                    </div>
                    
                    <div class="logout">
                        <li><a href="/">Sair</a></li>
                    </div>
                </div>
            </nav>

            <main class="content">
                <div class="content-inner">
                    <div class="tittle-cont">
                        <div class="aula">                    
                            <button class="menu-toggle" aria-label="Abrir menu">
                                <img src="{% static 'chat/img/menu.png' %}" alt="Menu">
                            </button> 
                            Dashboard
                        </div>                        
                    </div>
                    <div class="content-cont">
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                        <p>conteudo</p>
                    </div>
                    
                    <div class="footer-cont">
                        <button class="theme-toggle" aria-label="Trocar tema">🌙 </button>
                         <i><strong>© 2026 - JPM-development - All rights reserved - Engineering & Technology</strong><i>                        
                    </div>
                    
                </div>
            </main>
        </div>
    <script src="{% static 'chat/js/script.js' %}"></script>
</body>
</html>
