{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta charset="utf-8">
  <title>Senha alterada</title>
  <link rel="stylesheet" href="{% static 'chat/css/login.css' %}">
</head>
<body>

<div class="layout">
  <main class="login-main">
    <div class="login-card">

      <header class="login-header">
        <h1>Senha alterada</h1>
      </header>

      <section class="login-body">
        <div class="msg-ra">
          Sua senha foi alterada com sucesso.
        </div>

        <div class="login-register-link">
          <a href="{% url 'login' %}">Entrar</a>
        </div>
      </section>

      <footer class="login-footer">
        <strong>© 2026 - JPM-development</strong>
      </footer>

    </div>
  </main>
</div>

</body>
</html>
