{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta charset="utf-8">
  <title>E-mail enviado</title>
  <link rel="stylesheet" href="{% static 'chat/css/login.css' %}">
</head>
<body>

<div class="layout">
  <main class="login-main">
    <div class="login-card">

      <header class="login-header">
        <h1>E-mail enviado</h1>
      </header>

      <section class="login-body">
        <p>
          Se existir uma conta ativa com esse e-mail, enviamos um link para redefinir a senha.
        </p>

        <div class="login-register-link">
          <a href="{% url 'login' %}">Voltar para o login</a>
        </div>
      </section>

      <footer class="login-footer">
        <strong>© 2026 - JPM-development</strong>
      </footer>

    </div>
  </main>
</div>

</body>
</html>
