/* CONTAINER DO CHAT */
.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  overflow-y: auto;
  
}

/* BASE DA MENSAGEM */
.chat-message {
  display: inline-block;
  width: fit-content;
  max-width: 100%; ;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1.4;
  word-wrap: break-word;
  color: var(--color-black);
  font-size: 18px;
  background-color: var(--color-white);
}

/* PROFESSOR (ESQUERDA) */
.chat-message.system {
  align-self: flex-start;
  background-color: var(--color-white);
  color: var(--color-black);
  border-top-left-radius: 2px;
}

/* ALUNO (DIREITA) */
.chat-message.user {
  align-self: flex-end;
  background: var(--color-secondary-light);
  color: var(--color-black);
  border-top-right-radius: 2px;
}

/* PROFESSOR ATIVO (FALANDO) */
.chat-message.system.active {
  box-shadow: 0 0 8px rgba(59,130,246,0.5);
}

/* FEEDBACK */
.chat-message.system.correto {
  background: var(--color-success-light);
  border-left: 4px solid var(--color-success);
}

.chat-message.system.errado {
  background: var(--color-danger-light);
  border-left: 4px solid var(--color-danger);
}

.chat-message.falando {
  background-color: var(--color-warning-light);
}

/* MOBILE */
@media (max-width: 520px) {
  .chat-message {
    max-width: 85%;
    font-size: 13px;
  }
}
