/* CONTAINER DO CHAT */
.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  overflow-y: auto;
  
}

/* BASE DA MENSAGEM */
.chat-message {
  display: inline-block;
  width: fit-content;
  max-width: 100%; ;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1.4;
  word-wrap: break-word;
  color: var(--color-black);
  font-size: 18px;
  background-color: var(--color-white);
}

/* PROFESSOR (ESQUERDA) */
.chat-message.system {
  align-self: flex-start;
  background-color: var(--color-white);
  color: var(--color-black);
  border-top-left-radius: 2px;
}

/* ALUNO (DIREITA) */
.chat-message.user {
  align-self: flex-end;
  background: var(--color-primary-light);
  color: var(--color-black);
  border-top-right-radius: 2px;
}

/* PROFESSOR ATIVO (FALANDO) */
.chat-message.system.active {
  box-shadow: 0 0 8px rgba(59,130,246,0.5);
}

/* FEEDBACK */
.chat-message.system.correto {
  background: var(--color-success-light);
  border-left: 4px solid var(--color-success);
}

.chat-message.system.errado {
  background: var(--color-danger-light);
  border-left: 4px solid var(--color-danger);
}

.chat-message.falando {
  background-color: var(--color-warning-light);
}

/* MOBILE */
@media (max-width: 520px) {
  .chat-message {
    max-width: 85%;
    font-size: 13px;
  }
}

/* INPUT ENVIAR O CHAT */
.inline-input {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2px;
  padding: 2px;
}

.inline-input input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary-light);
}

.inline-input input[type="text"]::placeholder {
  color: var(--color-secondary-light);
  opacity: 1;
}

#btnEnviar{
    font-size: 14px;
    height: 40px;
    margin-left: 3px;
}
#btnMic{
   height: 40px;
   margin-left: 3px;
}

.painel-master{
    margin: 0 3px;
    background-color: rgba(215, 185, 94, 0.15);
    padding: 5px;
    border-radius: 5px;
}

.mic-ready { background: #2e7d32; }
.mic-disabled { background: #555; opacity: .4; }
.mic-gravando { background: #c62828; }

.btn-ready { background: #2e7d32; }
.btn-disabled { background: #555; opacity: .4; }


/* BOTAO AUTOCLICK */
#btnAutoMic {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  border: none;
}

.auto-off {
  background: #555;
  color: #fff;
}

.auto-on {
  background: #2e7d32;
  color: #fff;
}

/* AUTO SKIP  */
#btnAutoSkip {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  border: none;
}

.auto-off {
  background: #555;
  color: #fff;
}

.auto-on {
  background: #2e7d32;
  color: #fff;
}
