/* CORES DE TEXTO */
.text-success{
    color:var(--color-success);
    font-weight: 700;
}

.text-primary{
    color:var(--color-primary);
    font-weight: 700;
}

.text-secondary{
    color:var(--color-secondary);
    font-weight: 700;
}

.text-warning{
    color:var(--color-warning);
    font-weight: 700;
}

.text-warning-middle{
    color:var(--color-warning-middle);
    font-weight: 700;
}

.text-warning-light{
    color:var(--color-warning-light);
    font-weight: 700;
}

.text-danger-light{
    color:var(--color-danger-light);
    font-weight: 700;
}

.text-success-middle{
    color:var(--color-success-middle);
    font-weight: 700;
}

.text-success-light{
    color:var(--color-success-light);
    font-weight: 700;
}

.text-primary-light{
    color:var(--color-primary-light);
    font-weight: 700;
}

.text-secondary-light{
    color:var(--color-secondary-light);
    font-weight: 700;
}

.text-warning-light{
    color:var(--color-warning-light);
    font-weight: 700;
}

.text-danger-light{
    color:var(--color-danger-light);
    font-weight: 700;
}

.text-sidebar{
    color:var(--color-sidebar);
    font-weight: 700;
}
/* FIM CORES DE TEXTO */

/* MENSAGENS ALERTAS */
.msg-success {
  background: var(--color-success);
  color: var(--color-success-light);
  padding: 3px 8px;
  border-radius: 3px;
  margin-bottom: 6px;
  font-size: 13px;
}

.msg-warning {
  background: var(--color-warning-light);
  color: var(--color-warning);
  padding: 3px 8px;
  border-radius: 3px;
  margin-bottom: 6px;
  font-size: 13px;
}

.msg-primary {
  background: var(--color-primary-light);
  color: var(--color-primary);
  padding: 3px 8px;
  border-radius: 3px;
  margin-bottom: 6px;
  font-size: 13px;
}

.msg-secondary {
  background: var(--color-secondary-light);
  color: var(--color-secondary);
  padding: 3px 8px;
  border-radius: 3px;
  margin-bottom: 6px;
  font-size: 13px;
}

.msg-danger {
  background: var(--color-danger-light);
  color: var(--color-danger);
  padding: 3px 8px;
  border-radius: 3px;
  margin-bottom: 6px;
  font-size: 13px;
}
/* FIM MENSAGENS ALERTAS */